body {
  font-weight: 500;
  font-size: 62.5%;
}

.site-container {
  min-height: 100vh;
  position: relative;
  background-color: #eeeeee;
}

.main-content {
  margin-bottom: 10%;
  overflow: hidden;
}

.page-title {
  padding: 0 5% 5% 5%;
}

.payment-title {
  margin-bottom: 2.5rem;
}

button {
  background-color: #bead0f;
  border: none;
  color: #eeeeee;
  padding: 5px 7px;
  font-size: 16px;
  margin: 6px 5px;
  cursor: pointer;
}

button:hover {
  background-color: #8f820e;
}

.banner {
  height: 8rem;
  background-image: linear-gradient(to top, #eeeeee, transparent, #131313),
    url('./pics/interior.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0% 30%;
  margin-bottom: 5%;
}

.content-wrap {
  padding-bottom: 30rem;
}

/* title img/vid */

.title-media-wrapper {
  width: 100%;
  margin-top: 0;
  text-align: center;
}

.title-video-container {
  background-image: linear-gradient(to bottom, transparent, #131313),
    url('./pics/homepic.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 50%;
  color: #eeeeee;
  min-height: 40rem;
  position: relative;
}

.title-content {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* END title img/vid */

/* Featured Container */

.feat-container {
  display: flex;
  align-items: center;
  background-color: #131313;
  color: #eeeeee;
  justify-content: space-evenly;
}

.container-label {
  margin: 5rem 0 5rem 0;
  text-align: center;
  max-width: 50%;
}

/* END Featured Container */

/* New Container */

.new-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #eeeeee;
  color: #222222;
  flex-direction: row-reverse;
}

/* END New Container */

/* FooterImg */

.footerimg {
  background-image: linear-gradient(to bottom, #eeeeee, transparent),
    url('./pics/homepic2.jpg');
  height: 25%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 25rem;
  position: relative;
}

/* END FooterImg */

/* Footer */

footer {
  position: absolute;
  background-color: #111111;
  color: #eeeeee;
  display: flex;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  height: 30rem;
}

.footer-title {
  margin: 4vw;
  padding: 2vw;
}

.footer-title h4 {
  padding: 0.2rem;
  font-weight: 300;
}

.footer-title h2 {
  padding-top: 1rem;
  font-weight: 500;
}

/* END Footer */

/* product styles */

.productCard {
  background-color: #eeeeee;
  padding: 0.7rem;
  color: #222222;
  text-align: left;
  transition: 350ms;
}

.productCard:hover {
  transform: scale(1.1);
  outline: #111111 2px solid;
  transition: 350ms;
}

.productCardTitle {
  padding-bottom: 0.7rem;
}

.productCardBody {
  line-height: 80%;
}

.productCardBody button {
  background-color: #eeeeee;
  border: solid 1px #111111;
  color: #111111;
  padding: 5px 7px;
  font-size: 16px;
  margin: 5px 0 5px;
  cursor: pointer;
}

.starholder {
  height: 16px;
}

.productCardBody button:disabled {
  background-color: #111111;
  border: solid 1px #eeeeee;
  color: #eeeeee;
  padding: 5px 7px;
  cursor: not-allowed;
}

.productCardBody button:hover {
  background-color: #bead0f;
  color: #eeeeee;
  border: solid 1px #bead0f;
}

.productCardBody button:disabled:hover {
  background-color: #111111;
  border: solid 1px #eeeeee;
  color: #eeeeee;
  cursor: not-allowed;
}

/* END product styles */

.products {
  padding: 2.5rem;
}

.product {
  border: 1px #404040 solid;
  margin: 1rem;
}

.product img {
  width: 350px;
}

.product-info {
  padding: 1rem;
}

.img-large {
  max-width: 100%;
}

.img-thumbnail {
  height: 80px;
}

.small-container {
  max-width: 600px;
}

/* checkout steps */

.checkout-steps > div {
  border-bottom: 0.2rem solid #a0a0a0;
  color: #a0a0a0;
}

.checkout-steps > div.active {
  border-bottom: 0.2rem solid #1aa7ec;
  color: #1aa7ec;
}

/* END checkout steps */
