/* navigation styles */

.navAdapt {
  position: fixed;
  height: 3.8rem;
  top: 0;
  z-index: 999;
  flex: 1 0 10%;
  background-color: transparent;
  min-width: 100%;
  transition: 0.5s;
}

.navAdapt.active {
  background-color: #111111;
}

.navAdapt img {
  height: 1.2rem;
  width: auto;
}

.navAdapt .deft {
  margin-left: 1rem;
}

.parent {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0 1rem 0;
}

.nav_menu_left {
  justify-content: left;
  color: white;
  align-items: center;
  margin-left: 1rem;
  display: inline-flex;
}

.nav_menu_right {
  display: flex;
  justify-content: right;
  color: #dddddd;
  margin-right: 1rem;
}

.cartAmount {
  margin-right: -1.2rem;
  position: absolute;
}

.classImg {
  margin-right: 2rem;
}

.account {
  margin-right: 1rem;
}
